@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Test1" value="@Model.Test1" />
        <input type="hidden" asp-for="@Model.Test2" />

        <div>
            @if (!Model.Test1)
            {
                <b>Test1 Is False</b>
            }
            else
            {
                <b>Test1 Is True</b>
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Next" class="btn btn-primary" />
        </div>
    </form>
</div>
